@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url(va9E4kDNxMZdWfMOD5Vvl4jP.eot)/*tpa=https://fonts.gstatic.com/s/firasans/v11/va9E4kDNxMZdWfMOD5Vvl4jP.eot*/;
}
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(wEOhEADFm8hSaQTFG18FErVhsC9x-tarUfbtqQ.eot)/*tpa=https://fonts.gstatic.com/s/firasanscondensed/v5/wEOhEADFm8hSaQTFG18FErVhsC9x-tarUfbtqQ.eot*/;
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiYQ.eot)/*tpa=https://fonts.gstatic.com/s/oswald/v40/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiYQ.eot*/;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(KFOmCnqEu92Fr1Mu4mxO.eot)/*tpa=https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxO.eot*/;
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7CQ.eot)/*tpa=https://fonts.gstatic.com/s/robotocondensed/v19/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7CQ.eot*/;
}
